/* Variables */
$bg-grey-light: #f5f5f5;

* {
	box-sizing: border-box;
}

/* Styles */
html{
	font-size:100%;
} 
@media(min-width:60em){
	html{
		font-size: 100%
	}
}

body {
	background: $bg-grey-light;
	font: 16px Roboto, Helvetica, Arial, sans-serif;
	margin: 0 auto;
	font-weight: 400;
}

#app {
	width: 100%;
	z-index: 1;
}

.ReactModalPortal {
	z-index: 100000;
}

div {
	position: relative;
}

menu {
	margin: 0px;
	padding: 0px;
}

ul, ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a, button {
	cursor: pointer;
	font-size: 90%;
	outline: none;
}

input {
	outline: none;
}

object[type='application/gas-events-uni'], object[type='application/gas-events'], object[type='application/gas-events-cef'] {
    display: none;
}