.tasks-page {
	min-height: 100vh;
	position: relative;
	.task-list {
		border-right: 0px;
	}
	.mdl-layout__header {
		box-shadow: none;
		margin-left: 0px !important;
		width: 100% !important;
		@media (min-width: 992px) {
		    display: none;
		}
		.mdl-button {
			background: rgb(63,81,181);
			color: #fff;
			margin: 10px 0 0 10px;
		}
	}
}